<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdinfo.smarthome.rest.mapper.RefrigeratorMapper">
    <select id="getAllRefrigerator" resultType="com.sdinfo.smarthome.rest.domain.RefrigeratorVo">
		SELECT 
			A.HOME_CODE,
			A.MDATE,
			A.PRODUCT_TYPE,
			A.MODEL_GROUP,
			A.COOLHIGHTEMP_AD,
			A.COOLLOWTEMP_AD,
			A.HEATLOWTEMP_AD,
			A.HEATHIGHTEMP_AD,
			A.ROOMTEMP_AD,
			A.DEFROSTTEMP_AD,
			A.OUTTEMP_AD,
			A.FANOUTRPM,
			A.FANFEEDBACKRPM,
			A.LITER,
			A.HUMIDITY,
			A.ROOMTEMP,
			A.DEFROSTTEMP,
			A.OUTTEMP,
			A.CHANGESTEP,
			A.MAINMODEINDEX,
			A.SUBMODEINDEX,
			A.LEAKCOUNT,
			A.REFRESHTIMER,
			A.ERRORCODE,
			A.MOTIONSENSOR,
			A.DOOROPEN,
			A.POWER,
			A.COMP,
			A.DRAINHEATER,
			A.DEFROSTHEATER,
			A.LAMP,
			A.RDATE
		FROM TBL_REFRIGERATOR A
    </select>
    
    <insert id="insertDataRefrigerator">
         
         INSERT INTO TBL_REFRIGERATOR(
	         HOME_CODE,
	         MDATE,
	         PRODUCT_TYPE,
	         MODEL_GROUP,
	         COOLHIGHTEMP_AD,
	         COOLLOWTEMP_AD,
	         HEATLOWTEMP_AD,
	         HEATHIGHTEMP_AD,
	         ROOMTEMP_AD,
	         DEFROSTTEMP_AD,
	         OUTTEMP_AD,
	         FANOUTRPM,
	         FANFEEDBACKRPM,
	         LITER,
	         HUMIDITY,
	         ROOMTEMP,
	         DEFROSTTEMP,
	         OUTTEMP,
	         CHANGESTEP,
	         MAINMODEINDEX,
	         SUBMODEINDEX,
	         LEAKCOUNT,
	         REFRESHTIMER,
	         ERRORCODE,	
	         MOTIONSENSOR,
	         DOOROPEN,
	         POWER,
	         COMP,
	         DRAINHEATER,
	         DEFROSTHEATER,
	         LAMP,
	         RDATE
         )
         VALUES (
	         #{home_code,jdbcType=VARCHAR},
	         to_date(#{mdate}, 'YYYY-MM-DD HH24:MI:SS'),
	         #{product_type,jdbcType=VARCHAR},
	         #{model_group},
	         #{coolhightemp_ad},
	         #{coollowtemp_ad},
	         #{heatlowtemp_ad},
	         #{heathightemp_ad},
	         #{roomtemp_ad},
	         #{defrosttemp_ad},
	         #{outtemp_ad},
	         #{fanoutrpm},
	         #{fanfeedbackrpm},
	         #{liter},
	         #{humidity,jdbcType=VARCHAR},
	         #{roomtemp,jdbcType=VARCHAR},
	         #{defrosttemp,jdbcType=VARCHAR},
	         #{outtemp,jdbcType=VARCHAR},
	         #{changestep,jdbcType=VARCHAR},
	         #{mainmodeindex,jdbcType=VARCHAR},
	         #{submodeindex,jdbcType=VARCHAR},
	         #{leakcount,jdbcType=VARCHAR},
	         #{refreshtimer,jdbcType=VARCHAR},
	         #{errorcode,jdbcType=VARCHAR},
	         #{motionsensor,jdbcType=VARCHAR},
	         #{dooropen,jdbcType=VARCHAR},
	         #{power,jdbcType=VARCHAR},
	         #{comp,jdbcType=VARCHAR},
	         #{drainheater,jdbcType=VARCHAR},
	         #{defrostheater,jdbcType=VARCHAR},
	         #{lamp,jdbcType=VARCHAR},
	         to_date(#{rdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
         )
     </insert>
     
     <update id="updateDataRefrigerator">
		UPDATE TBL_REFRIGERATOR SET
			
			PRODUCT_TYPE = #{product_type,jdbcType=VARCHAR},
	        MODEL_GROUP = #{model_group},
	        COOLHIGHTEMP_AD = #{coolhightemp_ad},
	        COOLLOWTEMP_AD = #{coollowtemp_ad},
	        HEATLOWTEMP_AD = #{heatlowtemp_ad},
	        HEATHIGHTEMP_AD = #{heathightemp_ad},
	        ROOMTEMP_AD = #{roomtemp_ad},
	        DEFROSTTEMP_AD = #{defrosttemp_ad},
	        OUTTEMP_AD = #{outtemp_ad},
	        FANOUTRPM = #{fanoutrpm},
	        FANFEEDBACKRPM = #{fanfeedbackrpm},
	        LITER = #{liter},
	        HUMIDITY = #{humidity,jdbcType=VARCHAR},
	        ROOMTEMP = #{roomtemp,jdbcType=VARCHAR},
	        DEFROSTTEMP = #{defrosttemp,jdbcType=VARCHAR},
	        OUTTEMP = #{outtemp_ad},
	        CHANGESTEP = #{changestep,jdbcType=VARCHAR},
	        MAINMODEINDEX = #{mainmodeindex,jdbcType=VARCHAR},
	        SUBMODEINDEX = #{submodeindex,jdbcType=VARCHAR},
	        LEAKCOUNT = #{leakcount,jdbcType=VARCHAR},
	        REFRESHTIMER = #{refreshtimer,jdbcType=VARCHAR},
	        ERRORCODE = #{errorcode,jdbcType=VARCHAR},
	        MOTIONSENSOR = #{motionsensor,jdbcType=VARCHAR},
	        DOOROPEN = #{dooropen,jdbcType=VARCHAR},
	        POWER = #{power,jdbcType=VARCHAR},
	        COMP = #{comp,jdbcType=VARCHAR},
	        DRAINHEATER = #{drainheater,jdbcType=VARCHAR},
	        DEFROSTHEATER = #{defrostheater,jdbcType=VARCHAR},
	        LAMP = #{lamp,jdbcType=VARCHAR},
			RDATE = to_date(#{rdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
         	
         	WHERE 
         	HOME_CODE = #{home_code,jdbcType=VARCHAR} AND
         	MDATE = to_date(#{mdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
     </update>
     
     <delete id="deleteDataRefrigerator">
     	DELETE FROM TBL_REFRIGERATOR
			WHERE  
			HOME_CODE = #{home_code,jdbcType=VARCHAR} AND
         	MDATE = to_date(#{mdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
     </delete> 
 </mapper>