<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdinfo.smarthome.rest.mapper.TvMapper">
    <select id="getAllTv" resultType="com.sdinfo.smarthome.rest.domain.TvVo">
		SELECT 
			A.HOME_CODE,
			A.MDATE,
			A.UUID,
			A.TRANSMIT_TYPE,
			A.CHANNEL_MAJOR,
			A.CHANNEL_MINOR,
			A.VOLUME,
			A.INPUT_SOURCE,
			A.PROGRAM_INFORMATION,
			A.KEYCODE,
			A.LOCAL_IP,
			A.IDX,
			A.MANUFACTURER,
			A.PRODUCT_TV_CODE,
			A.OBJECT_MOVING_SENSE,
			A.RDATE
		FROM TBL_TV A
    </select>
    
    
    
    <insert id="insertDataTv">
         
         INSERT INTO TBL_TV(
         	HOME_CODE,
			MDATE,
			UUID,
			TRANSMIT_TYPE,
			CHANNEL_MAJOR,
			CHANNEL_MINOR,
			VOLUME,
			INPUT_SOURCE,
			PROGRAM_INFORMATION,
			KEYCODE,
			LOCAL_IP,
			IDX,
			MANUFACTURER,
			PRODUCT_TV_CODE,
			OBJECT_MOVING_SENSE,
			RDATE
         )
         VALUES (
	         #{home_code,jdbcType=VARCHAR},
	         to_date(#{mdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS'),
	         #{uuid},
	         #{transmit_type},
	         #{channel_major},
	         #{channel_minor},
	         #{volume},
	         #{input_source},
	         #{program_information,jdbcType=VARCHAR},
	         #{keycode},
	         #{local_ip},
	         #{idx},
	         #{manufacturer,jdbcType=VARCHAR},
	         #{product_tv_code,jdbcType=VARCHAR},
	         #{object_moving_sense},
	         to_date(#{rdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
         )
     </insert>
     
     <update id="updateDataTv">
		UPDATE TBL_TV SET
			
			UUID = #{uuid},
			TRANSMIT_TYPE = #{transmit_type},
			CHANNEL_MAJOR = #{channel_major},
			CHANNEL_MINOR = #{channel_minor},
			VOLUME = #{volume},
			INPUT_SOURCE = #{input_source},
			PROGRAM_INFORMATION = #{program_information,jdbcType=VARCHAR},
			KEYCODE = #{keycode},
			LOCAL_IP = #{local_ip},
			IDX = #{idx},
			MANUFACTURER = #{manufacturer,jdbcType=VARCHAR},
			PRODUCT_TV_CODE = #{product_tv_code,jdbcType=VARCHAR},
			OBJECT_MOVING_SENSE = #{object_moving_sense},
			RDATE = to_date(#{rdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
         	
         	WHERE 
         	HOME_CODE = #{home_code,jdbcType=VARCHAR} AND
         	MDATE = to_date(#{mdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
     </update>
     
     <delete id="deleteDataTv">
     	DELETE FROM TBL_TV
			WHERE  
			HOME_CODE = #{home_code,jdbcType=VARCHAR} AND
         	MDATE = to_date(#{mdate,jdbcType=VARCHAR}, 'YYYY-MM-DD HH24:MI:SS')
     </delete> 
     
      
     
     
 </mapper>